{{ "{% extends 'JordiLlonchCrudGeneratorBundle::layout.html.twig' %}" }}

{{ "{% block title %}" }}
{{ "{{ parent() }} - " ~ entity ~ " {{ 'views.edit.edit'|trans({}, 'JordiLlonchCrudGeneratorBundle') }}" }}
{{ "{% endblock %}" }}

{{ "{% block page %}" }}

<h1>{{ entity }} {{ "{{ 'views.edit.edit'|trans({}, 'JordiLlonchCrudGeneratorBundle') }}" }}</h1>

<form class="well" action="{{ "{{ path('"~ route_name_prefix ~"_update', { 'id': entity.id }) }}" }}" method="post" {{ "{{ form_enctype(edit_form) }}" }}>
    {{ "{{ form_widget(edit_form) }}" }}
    <p>
        <button type="submit" class="btn btn-success">{{ "{{ 'views.edit.editbutton'|trans({}, 'JordiLlonchCrudGeneratorBundle') }}" }}</button>
    </p>
</form>

{% set hide_edit, hide_delete = true, false %}
{% include 'views/others/record_actions.html.twig' %}

{{ "{% endblock %}" }}